/* .subCategoryPage {
    height: 100%;
    min-height: 100vh;
    max-height: 100%;
    background: rgba(0, 67, 104, 0.17);
} */

.block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.search {
    margin-bottom: 20px;
}

.input {
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    -webkit-border: none;
    border: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px 10px 15px;
    color: #000;
    font-size: 20px;
    z-index: 1;
    border-radius: 5px;
}

.input::placeholder {
    color: #757575;
}

.input:focus::placeholder {
    color: #fff;
}

@media screen and (max-width: 900px) {
    .block {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .block {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .block {
        grid-template-columns: repeat(1, 1fr);
    }
}