.category {
    width: 23%;
    margin-right: 2.6%;
    margin-bottom: 2.6%;
    z-index: 1;
    position: relative;
}

.category:nth-child(4n) {
    margin-right: 0;
}

.category > img {
    width: 100%;
    z-index: -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #fff;
    padding: 15px 0;
    text-align: center;
    color: #000;
    font-size: 22px;
}

@media screen and (max-width: 900px) {
    .category {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 5%;
        z-index: 1;
        position: relative;
    }

    .category:nth-child(3n) {
        margin-right: 0;
    }

    .category:nth-child(4n) {
        margin-right: 5%;
    }
    
}


@media screen and (max-width: 700px) {
    .category {
        width: 48%;
        margin-right: 4%;
        margin-bottom: 4%;
        z-index: 1;
        position: relative;
    }

    .category:nth-child(2n) {
        margin-right: 0;
    }

    .category:nth-child(3n) {
        margin-right: 4%;
    }
    
}

@media screen and (max-width: 400px) {
    .category {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        z-index: 1;
        position: relative;
    }

    .category:nth-child(2n) {
        margin-right: 0;
    }

    .category:nth-child(3n) {
        margin-right: 0;
    }
    
}