.category {
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 250px;
    z-index: 1;
    position: relative;
}

.category > img {
    object-fit: cover;
    height: 80%;
    width: 100%;
    z-index: -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #fff;
    padding: 15px 0;
    text-align: center;
    color: #000;
    font-size: 22px;
}
