.header {
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block > h2 {
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.icon {
    color: #fff;
    font-size: 40px;
}

@media screen and (max-width: 400px) {
    .block > h2 {
        font-size: 25px;
    }
    
    .icon {
        font-size: 25px;
    }
}